<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="img/homekit-app-icon.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
    <title>HomeWise</title>
    <link rel="shortcut icon" href="https://cdn.rawgit.com/odedtgr/SmartHome/2/static/img/homekit-app-icon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://cdn.rawgit.com/odedtgr/SmartHome/master/static/img/homekit-app-icon.png" />
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <link href="https://cdn.rawgit.com/odedtgr/SmartHome/2/static/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<link href="css/app.min.css?v=8" rel="stylesheet">-->
    <link href="https://cdn.rawgit.com/odedtgr/SmartHome/2/static/css/app.min.css" rel="stylesheet">
        <!--<link href="css/bootstrap-clockpicker.min.css" rel="stylesheet">-->
    <link href="https://cdn.rawgit.com/odedtgr/SmartHome/2/static/css/bootstrap-clockpicker.min.css" rel="stylesheet">
    <!--<link href="css/bootstrap-toggle.min.css" rel="stylesheet">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <!--<link href="https://cdn.rawgit.com/odedtgr/SmartHome/master/static/css/font-awesome.min.css" rel="stylesheet">-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
</head>