<div id="scheduler" class="row" device-type="scheduler">
    <div class="col-xs-12 col-lg-2">Scheduler</div>
    <div class="col-xs-5 col-lg-2">
        <div class="btn-group" role="group" aria-label="Scheduler" val="scheduler">
            <button type="button" class="btn btn-primary {{'active' if  scheduler_on}}" val="true">On</button>
            <button type="button" class="btn btn-primary {{'active' if not scheduler_on}}" val="false">Off</button>
            <div class="col-xs-7 col-lg-2">{{"Next task at: ".format(next_loop_time)}}</div>
        </div>
    </div>
</div>